.editor-container
{
    margin: 0 auto;
    min-width: 320px;
    width: 80%;
    max-width: 1500px;
    border: 1px rgb(200,200,200) solid;
    margin-top: 50px;
    max-height: 900px;
    height: 70%;
    background-color: #FFFFFF;
}

.editor-content-wrapper
{
}

.editor-toolbar
{
    border-bottom: 1px rgb(200,200,200) solid;
    padding: 8px;
}
